<!--
  Generated template for the BrothersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-slides ><!--(ionSlideDrag)="dragging()"-->
    <ion-slide>
      <div class="login-box-section">
        <div class="login-box">
            <form [formGroup]="brothersForm">
              <ion-list class="login-user-info">
        
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text"  placeholder="Enter brothers Name" formControlName="name" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.name" >
                  <div *ngIf="brothersForm.get('name').hasError(validation.type) && brothersForm.get('name').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                      <ion-icon item-left ios="ios-calendar" md="md-calendar"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder=" Select Date of Birth" class="textbox-n" 
                    onfocus="(this.type='date')"  [(ngModel)]="birthdate" id="date"
                    formControlName="dob" displayFormat="DD-MM-YYYY"></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.date_of_birth" >
                  <div *ngIf="brothersForm.get('dob').hasError(validation.type) && brothersForm.get('dob').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
  
                <ion-item *ngIf="birthdate">
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Age" formControlName="age"
                    value="{{ageFromDateOfBirthday(birthdate)}}" readonly></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.age" >
                  <div *ngIf="brothersForm.get('age').hasError(validation.type) && brothersForm.get('age').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Marital Status" formControlName="marital_status">
                    <ion-option value="Married">Married</ion-option>
                    <ion-option value="Unmarried">Unmarried</ion-option>
                    <ion-option value="Divorced">Divorced</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('marital_status').hasError(validation.type) && brothersForm.get('marital_status').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Occupation" formControlName="brotheroccupation">
                    <ion-option value="Business">Business</ion-option>
                    <ion-option value="private_job">Private Job</ion-option>
                    <ion-option value="government_job">Government Job</ion-option>
                    <ion-option value="housewife">House wife</ion-option>
                    <ion-option value="other">other</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('brotheroccupation').hasError(validation.type) && brothersForm.get('brotheroccupation').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-input type="number" placeholder="Mobile Number" formControlName="mobile" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.mobile" >
                  <div *ngIf="brothersForm.get('mobile').hasError(validation.type) && brothersForm.get('mobile').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
                
              </ion-list>
              <!-- <button ion-button round center class="login-btn" type="submit">Add</button> -->
              <span *ngIf="noOfBrothers > 1; else elseBlock">
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next(brothersForm.value)">Save & Next</button>
              </span>
              <ng-template #elseBlock>
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="close(brothersForm.value)">save & continue</button>
              </ng-template>
            </form>
          </div>
        </div>
        
    </ion-slide>
  
    <ion-slide style="background-color: blue">
      <div class="login-box-section">
        <div class="login-box">
            <form [formGroup]="brothersForm">
              <ion-list class="login-user-info">
        
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text"  placeholder="Enter brothers Name" formControlName="name" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.name" >
                  <div *ngIf="brothersForm.get('name').hasError(validation.type) && brothersForm.get('name').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                      <ion-icon item-left ios="ios-calendar" md="md-calendar"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder=" Select Date of Birth" class="textbox-n" 
                    onfocus="(this.type='date')"  [(ngModel)]="birthdate" id="date"
                    formControlName="dob" displayFormat="DD-MM-YYYY"></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.date_of_birth" >
                  <div *ngIf="brothersForm.get('dob').hasError(validation.type) && brothersForm.get('dob').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
  
                <ion-item *ngIf="birthdate">
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Age" formControlName="age"
                    value="{{ageFromDateOfBirthday(birthdate)}}" readonly></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.age" >
                  <div *ngIf="brothersForm.get('age').hasError(validation.type) && brothersForm.get('age').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Marital Status" formControlName="marital_status">
                    <ion-option value="Married">Married</ion-option>
                    <ion-option value="Unmarried">Unmarried</ion-option>
                    <ion-option value="Divorced">Divorced</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('marital_status').hasError(validation.type) && brothersForm.get('marital_status').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Occupation" formControlName="brotheroccupation">
                    <ion-option value="Business">Business</ion-option>
                    <ion-option value="private_job">Private Job</ion-option>
                    <ion-option value="government_job">Government Job</ion-option>
                    <ion-option value="housewife">House wife</ion-option>
                    <ion-option value="other">other</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('brotheroccupation').hasError(validation.type) && brothersForm.get('brotheroccupation').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-input type="number" placeholder="Mobile Number" formControlName="mobile" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.mobile" >
                  <div *ngIf="brothersForm.get('mobile').hasError(validation.type) && brothersForm.get('mobile').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
                
              </ion-list>
              <!-- <button ion-button round center class="login-btn" type="submit">Add</button> -->
              <span *ngIf="noOfBrothers > 2; else elseBlock">
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next(brothersForm.value)">Save & Next</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </span>
              <ng-template #elseBlock>
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="close(brothersForm.value)">save & continue</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </ng-template>
            </form>
          </div>
      </div>
      
    </ion-slide>
  
    <ion-slide style="background-color: red">
      <div class="login-box-section">
        <div class="login-box">
            <form [formGroup]="brothersForm">
              <ion-list class="login-user-info">
        
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text"  placeholder="Enter brothers Name" formControlName="name" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.name" >
                  <div *ngIf="brothersForm.get('name').hasError(validation.type) && brothersForm.get('name').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                      <ion-icon item-left ios="ios-calendar" md="md-calendar"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder=" Select Date of Birth" class="textbox-n" 
                    onfocus="(this.type='date')"  [(ngModel)]="birthdate" id="date"
                    formControlName="dob" displayFormat="DD-MM-YYYY"></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.date_of_birth" >
                  <div *ngIf="brothersForm.get('dob').hasError(validation.type) && brothersForm.get('dob').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
  
                <ion-item *ngIf="birthdate">
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Age" formControlName="age"
                    value="{{ageFromDateOfBirthday(birthdate)}}" readonly></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.age" >
                  <div *ngIf="brothersForm.get('age').hasError(validation.type) && brothersForm.get('age').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Marital Status" formControlName="marital_status">
                    <ion-option value="Married">Married</ion-option>
                    <ion-option value="Unmarried">Unmarried</ion-option>
                    <ion-option value="Divorced">Divorced</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('marital_status').hasError(validation.type) && brothersForm.get('marital_status').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Occupation" formControlName="brotheroccupation">
                    <ion-option value="Business">Business</ion-option>
                    <ion-option value="private_job">Private Job</ion-option>
                    <ion-option value="government_job">Government Job</ion-option>
                    <ion-option value="housewife">House wife</ion-option>
                    <ion-option value="other">other</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('brotheroccupation').hasError(validation.type) && brothersForm.get('brotheroccupation').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-input type="number" placeholder="Mobile Number" formControlName="mobile" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.mobile" >
                  <div *ngIf="brothersForm.get('mobile').hasError(validation.type) && brothersForm.get('mobile').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
                
              </ion-list>
              <!-- <button ion-button round center class="login-btn" type="submit">Add</button> -->
              <span *ngIf="noOfBrothers > 3; else elseBlock">
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next(brothersForm.value)">Save & Next</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </span>
              <ng-template #elseBlock>
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="close(brothersForm.value)">save & continue</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </ng-template>
            </form>
          </div>
      </div>
      
    </ion-slide>

    <ion-slide style="background-color: red">
      <div class="login-box-section">
        <div class="login-box">
            <form [formGroup]="brothersForm">
              <ion-list class="login-user-info">
        
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text"  placeholder="Enter brothers Name" formControlName="name" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.name" >
                  <div *ngIf="brothersForm.get('name').hasError(validation.type) && brothersForm.get('name').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                      <ion-icon item-left ios="ios-calendar" md="md-calendar"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder=" Select Date of Birth" class="textbox-n" 
                    onfocus="(this.type='date')"  [(ngModel)]="birthdate" id="date"
                    formControlName="dob" displayFormat="DD-MM-YYYY"></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.date_of_birth" >
                  <div *ngIf="brothersForm.get('dob').hasError(validation.type) && brothersForm.get('dob').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
  
                <ion-item *ngIf="birthdate">
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Age" formControlName="age"
                    value="{{ageFromDateOfBirthday(birthdate)}}" readonly></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.age" >
                  <div *ngIf="brothersForm.get('age').hasError(validation.type) && brothersForm.get('age').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Marital Status" formControlName="marital_status">
                    <ion-option value="Married">Married</ion-option>
                    <ion-option value="Unmarried">Unmarried</ion-option>
                    <ion-option value="Divorced">Divorced</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('marital_status').hasError(validation.type) && brothersForm.get('marital_status').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Occupation" formControlName="brotheroccupation">
                    <ion-option value="Business">Business</ion-option>
                    <ion-option value="private_job">Private Job</ion-option>
                    <ion-option value="government_job">Government Job</ion-option>
                    <ion-option value="housewife">House wife</ion-option>
                    <ion-option value="other">other</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('brotheroccupation').hasError(validation.type) && brothersForm.get('brotheroccupation').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-input type="number" placeholder="Mobile Number" formControlName="mobile" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.mobile" >
                  <div *ngIf="brothersForm.get('mobile').hasError(validation.type) && brothersForm.get('mobile').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
                
              </ion-list>
              <!-- <button ion-button round center class="login-btn" type="submit">Add</button> -->
              <span *ngIf="noOfBrothers > 4; else elseBlock">
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next(brothersForm.value)">Save & Next</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </span>
              <ng-template #elseBlock>
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="close(brothersForm.value)">save & continue</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </ng-template>
            </form>
          </div>
      </div>
      
    </ion-slide>

    <ion-slide style="background-color: red">
      <div class="login-box-section">
        <div class="login-box">
            <form [formGroup]="brothersForm">
              <ion-list class="login-user-info">
        
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text"  placeholder="Enter brothers Name" formControlName="name" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.name" >
                  <div *ngIf="brothersForm.get('name').hasError(validation.type) && brothersForm.get('name').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                      <ion-icon item-left ios="ios-calendar" md="md-calendar"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder=" Select Date of Birth" class="textbox-n" 
                    onfocus="(this.type='date')"  [(ngModel)]="birthdate" id="date"
                    formControlName="dob" displayFormat="DD-MM-YYYY"></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.date_of_birth" >
                  <div *ngIf="brothersForm.get('dob').hasError(validation.type) && brothersForm.get('dob').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
  
                <ion-item *ngIf="birthdate">
                  <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                  </ion-label>
                  <ion-input type="text" placeholder="Age" formControlName="age"
                    value="{{ageFromDateOfBirthday(birthdate)}}" readonly></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.age" >
                  <div *ngIf="brothersForm.get('age').hasError(validation.type) && brothersForm.get('age').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Marital Status" formControlName="marital_status">
                    <ion-option value="Married">Married</ion-option>
                    <ion-option value="Unmarried">Unmarried</ion-option>
                    <ion-option value="Divorced">Divorced</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('marital_status').hasError(validation.type) && brothersForm.get('marital_status').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>

                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-select interface="popover" placeholder="Occupation" formControlName="brotheroccupation">
                    <ion-option value="Business">Business</ion-option>
                    <ion-option value="private_job">Private Job</ion-option>
                    <ion-option value="government_job">Government Job</ion-option>
                    <ion-option value="housewife">House wife</ion-option>
                    <ion-option value="other">other</ion-option>
                  </ion-select>
                </ion-item>
                <div *ngFor="let validation of validation_messages.commonmessage" >
                  <div *ngIf="brothersForm.get('brotheroccupation').hasError(validation.type) && brothersForm.get('brotheroccupation').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
    
                <ion-item>
                  <ion-label>
                    <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
                  </ion-label>
                  <ion-input type="number" placeholder="Mobile Number" formControlName="mobile" required></ion-input>
                </ion-item>
                <div *ngFor="let validation of validation_messages.mobile" >
                  <div *ngIf="brothersForm.get('mobile').hasError(validation.type) && brothersForm.get('mobile').touched">
                    <div class="error-message">{{validation.message}}</div>
                  </div>
                </div>
                
              </ion-list>              <!-- <button ion-button round center class="login-btn" type="submit">Add</button> -->
              <span *ngIf="noOfBrothers > 5; else elseBlock">
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="close(brothersForm.value)">Save & Next</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </span>
              <ng-template #elseBlock>
                <button type="submit" float-right ion-button color="primary" class="btnNext" (click)="close(brothersForm.value)">save & continue</button>
                <button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()">Prev</button>
              </ng-template>
            </form>
          </div>
      </div>
    </ion-slide>
  
  </ion-slides>
</ion-content>
