<!--
  Generated template for the MarriedRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div class="login-box-section">
    <div class="login-box">
    <div class="logo-box">
      <img src="assets/imgs/logo-1.jpg">
    </div>

    <form [formGroup]="divorcedForm">
      <ion-list class="login-user-info">
    
        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
          <ion-input type="text"  placeholder="upload Other pic" formControlName="otherpics"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
              <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
            </ion-label>
            <ion-input type="text"  placeholder="Fatehr Name" formControlName="fatherName"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.name" >
          <div *ngIf="divorcedForm.get('fatherName').hasError(validation.type) && divorcedForm.get('fatherName').touched">
            <div class="error-message">{{validation.message}}</div>
          </div>
        </div>

        <ion-item>
          <ion-label>
            <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
          <ion-input type="text"  placeholder="Mother Name" formControlName="motherName"></ion-input>
      </ion-item>
      <div *ngFor="let validation of validation_messages.name" >
        <div *ngIf="divorcedForm.get('motherName').hasError(validation.type) && divorcedForm.get('motherName').touched">
          <div class="error-message">{{validation.message}}</div>
        </div>
      </div>

        <ion-item>
          <ion-label>
            <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
          <ion-input type="number"  placeholder="Father Mobile No" formControlName="fatherMobileNo"></ion-input>
        </ion-item>
        <div *ngFor="let validation of validation_messages.mobile" >
          <div *ngIf="divorcedForm.get('fatherMobileNo').hasError(validation.type) && divorcedForm.get('fatherMobileNo').touched">
            <div class="error-message">{{validation.message}}</div>
          </div>
        </div>

        <ion-item>
          <ion-label>
            <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
          </ion-label>
          <ion-select interface="popover" placeholder="Father occupation" formControlName="fatherOccupation">
            <ion-option value="PE">Private emloye</ion-option>
            <ion-option value="Bu">Bussiness</ion-option>
            <ion-option value="O">Other</ion-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let validation of validation_messages.fatherOccupation" >
          <div *ngIf="divorcedForm.get('fatherOccupation').hasError(validation.type) && divorcedForm.get('fatherOccupation').touched">
            <div class="error-message">{{validation.message}}</div>
          </div>
        </div>

        <ion-item>
          <ion-label>
            <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
          </ion-label>
          <ion-select interface="popover" placeholder="Mother occupation" formControlName="motherOccupation">
            <ion-option value="private_job">Private Job</ion-option>
            <ion-option value="government_job">Government Job</ion-option>
            <ion-option value="business">Business</ion-option>
            <ion-option value="housewife">House wife</ion-option>
            <ion-option value="other">other</ion-option>
          </ion-select>
        </ion-item>
        <div *ngFor="let validation of validation_messages.fatherOccupation" >
          <div *ngIf="divorcedForm.get('motherOccupation').hasError(validation.type) && divorcedForm.get('motherOccupation').touched">
            <div class="error-message">{{validation.message}}</div>
          </div>
        </div>

      </ion-list> 
      <ion-row>
        <ion-col>
          <button ion-button start round center class="login-btn" (click)="goBack()">Prev</button>
        </ion-col>
        <ion-col>
          <button ion-button round center class="login-btn" (click)="submitDetails(divorcedForm.value)">Next</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</div>

</ion-content>
